@model IEnumerable<LinkTable>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <a asp-action="Index">Создать новую сокращенную ссылку</a>
        </div>
        <div class="col text-right">
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Длинная ссылка
            </th>
            <th scope="col">
                Короткая ссылка
            </th>
            <th scope="col">
                Дата генерации
            </th>
            <th scope="col">
                Количество переходов
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a target="_blank" href="@item.Longlink">@item.Longlink</a>
                </td>
                <td>
                    <a target="_blank" href="@item.Shortlink">@item.Shortlink</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    <a asp-action="Link" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Deleted" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
