@model IEnumerable<LinkTable>
<base target="_blank">
<p>
    <a asp-action="Index">Создать новую сокращенную ссылку</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Длинная ссылка
            </th>
            <th scope="col">
                Короткая ссылка
            </th>
            <th scope="col">
                Дата генерации
            </th>
            <th scope="col">
                Количество переходов
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@item.Longlink">@item.Longlink</a>
                </td>
                <td>
                    <a href="@item.Shortlink">@item.Shortlink</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    <a asp-action="Link" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Deleted" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
